<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет products -->
{% block title %}
Новости
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Подробнее</h1>

   <hr>
   {% if post %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Превью текста</td>
           </tr>


           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td>{{ post.heading }}</td>
               <td>{{ post.date_create|date:'d M Y' }}</td>
               <td>{{ post.text }}</td>

           </tr>


       </table>
   {% else %}
       <h2>Товаров нет!</h2>
   {% endif %}
{% endblock content %}